/*  ||  PAGE LAYOUT */

.signUp {
    display: flex;
    width: 700px;
}

.bigImage {
    flex: 1;
    order: 2;
}

.textSection {
    flex: 1;
    order: 1;
    width: 500px;
}

/*  ||  TEXT SIDE   */

h1,
p {
    display: inline-block;
}

h1 {}

/*  Set by Frontend Mentor */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}