/*  ||  PAGE LAYOUT */

.signUp {
    display: flex;
    width: 1000px;
    padding: 30px;
    border-radius: 5%;
    background-color: aquamarine;
}

.bigImage {
    flex: 1;
    order: 2;
}

.textSection {
    flex: 1;
    order: 1;
    width: 500px;
    margin-right: 5%;
}

/*  ||  TEXT SIDE   */

h1,
p {
    display: inline-block;
}

h1 {}

/*  ||  FORM */

button {
    width: 300px;
    height: 50px;
    border-radius: 5%;
    font-weight: bold;
}

/*  Set by Frontend Mentor */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}